<div fxLayout="column" fxLayoutGap="20px">

    <div *ngIf="artist">
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>{{ artist.name }}</h2>
                    <h2>{{ artist.nb_fan }}</h2>
                        <p><img [src]="artist.picture_medium" alt="artist picture"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <span >
                        <ul>
                            <li *ngFor="let album of tracks">
                                {{ album.title }}
                            </li>
                          </ul>
                    </span>
                </div>
            </div>
        </div>
</div>
    <span>Albums</span>
    <div class="mat-elevation-z2">
        hello world
    </div>
</div>
