<div fxLayout="column" fxLayoutGap="15px">

<div fxLayout="column" fxLayoutAlign="center center">
  <img class="search-music" src="/assets/artist-search.svg">
</div>

<div fxLayout="column" fxLayoutAlign="center center">
    <span class="opening-text"> Search For An Artist Here </span>
</div>

<div class="e-input-group e-corner" fxLayout="row" fxLayoutAlign="center center">
    <input matInput [formControl]="searchControl"  autocomplete="off" id="input-field"/>
    <span matSuffix><i class="fas fa-search"></i>&nbsp;</span>
</div>
</div>

<div *ngIf="artist">
    <div fxLayout="row" class="row-char">
        <mat-card class="example-card mat-elevation-z8" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header>
                <mat-card-title> {{ artist.name }} </mat-card-title>
              </mat-card-header>
            <img class="img" alt="girl" [src]="artist.picture" />
            <span class="fans"> {{ artist.fans }} </span>
        </mat-card>
    </div>
</div>
