.search-music {
    height: 400px;
    width: 500px;
}

.opening-text {
    color: #3F3D56;
}

.input-field {
    border-radius: 25px;
    border: 2px solid #3F3D56;
    padding: 20px; 
    width: 200px;
    height: 15px;   
}